
<!-- Portfolio Item Heading -->
 <h1 class="my-4">Workouts That Work For You
 </h1>

 <!-- Portfolio Item Row -->
 <div class="row">

   <div class="col-md-8">
     <img class="img-fluid" src="victor-freitas-546919-unsplash.jpg" width="500" height = "auto" >
   </div>

   <div class="col-md-4">
     <h3 class="my-3">Log In</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
     <h3 class="my-3">Project Details</h3>
     <ul>
       <li>Lorem Ipsum</li>
       <li>Dolor Sit Amet</li>
       <li>Consectetur</li>
       <li>Adipiscing Elit</li>
     </ul>
   </div>

 </div>
 <!-- /.row -->
